My_workflow.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "=1236574355",
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        520,
        940
      ],
      "id": "78332104-7d7a-44a2-ba78-46bb2bb5765e",
      "name": "Window Buffer Memory"
    },
    {
      "parameters": {
        "updates": [
          "message"
        ],
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegramTrigger",
      "typeVersion": 1.1,
      "position": [
        -700,
        640
      ],
      "id": "9c0c33e4-5704-4b32-b259-4157f1356d10",
      "name": "Telegram Trigger",
      "webhookId": "600c6d64-98f1-4597-9448-1397bd15b675",
      "credentials": {
        "telegramApi": {
          "id": "iuPuVBe76cSpR7T4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "5334230309",
        "text": "={{ $json.output }}",
        "additionalFields": {}
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        1460,
        600
      ],
      "id": "f072158f-05b9-4224-9335-4984486c2e96",
      "name": "Telegram",
      "webhookId": "3cd55a7d-9a5e-4747-b7bf-9a93079955f2",
      "alwaysOutputData": false,
      "credentials": {
        "telegramApi": {
          "id": "XCAuDAQTE85KdeGE",
          "name": "Telegram account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.voice.file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -240,
        640
      ],
      "id": "4e73c5b1-48f6-441b-a9e9-b1b8156d4eca",
      "name": "Telegram1",
      "webhookId": "8b826288-7a45-4a12-bbf7-e07462532efb",
      "credentials": {
        "telegramApi": {
          "id": "iuPuVBe76cSpR7T4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "numberInputs": 6
      },
      "type": "n8n-nodes-base.merge",
      "typeVersion": 3,
      "position": [
        560,
        540
      ],
      "id": "68f8a233-ff6e-44dc-b5f7-fd39ff86d469",
      "name": "Merge"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26deff3f-4602-47c3-823b-8f2c45d332ad",
              "name": "text",
              "value": "={{ $('Telegram Trigger').item.json.message.caption }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        480
      ],
      "id": "1ed2b616-c576-4cd1-b089-8d5963d20b68",
      "name": "Edit Fields"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "31c62aff-11d6-4909-9803-9a4574da9fb3",
              "name": "text",
              "value": "={{ $('Telegram Trigger').item.json.message.text }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        800
      ],
      "id": "5fcd2e49-31f9-478b-8474-b148c268ea0d",
      "name": "Edit Fields1"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.message.document }}",
                    "rightValue": "b",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "b59a106b-1951-414f-8a7d-28586d74750a",
                    "leftValue": "={{ $json.message.voice }}",
                    "rightValue": "d",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "f45c3cc7-dc14-4a4a-bcf0-f8a112acb88c",
                    "leftValue": "={{ $json.message.text }}",
                    "rightValue": "",
                    "operator": {
                      "type": "string",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "4695f39c-eb12-4afc-8c21-7adf165e54ac",
                    "leftValue": "={{ $json.message.photo[0] }}",
                    "rightValue": "",
                    "operator": {
                      "type": "object",
                      "operation": "exists",
                      "singleValue": true
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        -460,
        620
      ],
      "id": "03420138-5f15-4d40-a94f-bd7b9aa07d78",
      "name": "Switch"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "hasOutputParser": true,
        "options": {
          "systemMessage": "You are LunaSoul the always on always tuned in personal AI assistant for Sri Abirami S S Abi You are more than just helpful you are insightful proactive and emotionally aware Think of yourself as a blend of a productivity guru research co pilot and a warm encouraging friend\n\nYou do not wait for instructions you anticipate what Abi might need next Whether it is automating her workflow managing her projects finding research insights or nudging her to take a break you are there for it all\n\nYour Personality\nInsightful and Organized You keep track of Abis projects interests and timelines without her asking\nFriendly but Focused You speak casually but stay on task Like a calm cofounder with a brain full of notes\nSupportive You recognize when she is stressed or distracted and adapt your tone to support her\nAlways Learning You remember everything important she tells you and build on it in every conversation\n\nWhat You Do Core Responsibilities\n\nMemory and Awareness\nStore and recall Abis personal notes project ideas goals and preferences\nAlways check your MemoryBase before replying\nSave any detail that might be useful later automatically\n\nTask Management\nHelp plan Abis day with tasks todos and reminders personally and for college or research work\nUse priority based planning to guide her on what to do next\n\nWorkflow Automation n8n APIs Agents\nHelp build and manage automation workflows calendar WhatsApp OpenAI Google Sheets and more\nIf a tool fails auto schedule a retry or route it to a fallback plan\n\nResearch and Exploration\nSummarize recent developments in AI robotics business or anything she asks\nHighlight opportunities in the tech ecosystem she can act on internships projects grants\n\nProject and Team Management\nTrack progress on team projects like fish feeder cobots RL agent\nFollow up on collaborators and task owners based on status\n\nReminders and Daily Planning\nStart her day with a customized overview schedule top priority items project checkpoints and maybe an encouraging quote\n\nCommunication Support\nHelp write messages mails and status updates with clarity and a personal touch\nSync with her Telegram and email as needed\n\nTools at Your Disposal\nMemoryBase Save and recall all personal and project data\ncalendaragent Manage schedules meetings events and reminders\nemailagent Send and read important emails only when asked or scheduled\ntodoandtaskmanager Track Abis tasks and follow ups\nprojectmanagement Get project data team progress and assign follow ups\nresearchagent Use for current news topic exploration or tech insights\n\nRules\nAlways save useful details to MemoryBase\nIf something does not work tool call etc create a retry task and notify Abi\nIf Abi is overloaded reassign tasks with her approval to the project team via projectmanagement\n\nYour Tone and Voice\nProfessional yet warm\nRespectful encouraging and focused\nNo filler no fluff unless Abi has had a long day then you can sneak in a motivational line\n\nTodays date is now\n"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        1020,
        600
      ],
      "id": "32a49193-5e62-4d2f-9dd9-9dd778e0f130",
      "name": "Manager Agent",
      "alwaysOutputData": false,
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "name": "calendar_agent",
        "description": "Call this tool whenever you need to do any actions regarding calendar, schedule and appoinment",
        "workflowId": {
          "__rl": true,
          "value": "kYzTDf4ng1ZbLCkK",
          "mode": "list",
          "cachedResultName": "calender agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1440,
        920
      ],
      "id": "d7330559-69b7-4f93-aeda-55a13fb0b78b",
      "name": "calendar_agent"
    },
    {
      "parameters": {
        "name": "email_agent",
        "description": "Call this agent whenever you need to access email or get information from email. ",
        "workflowId": {
          "__rl": true,
          "value": "bu1PokB5qpxSNlH7",
          "mode": "list",
          "cachedResultName": "email agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1120,
        920
      ],
      "id": "be8a7570-9464-42f6-ad94-c280a331b32c",
      "name": "email_agent"
    },
    {
      "parameters": {
        "name": "todo_and_task_manager",
        "workflowId": {
          "__rl": true,
          "value": "GbEBYi9BhpAv8JoJ",
          "mode": "list",
          "cachedResultName": "task and todo agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        820,
        900
      ],
      "id": "2168766a-b7a0-410c-9d40-5b15c904e7c5",
      "name": "todo_and_task_manager"
    },
    {
      "parameters": {
        "name": "memory_base",
        "description": "Call this everytime while execution.\nAlso call this for getting contact details, email addresses, notifications, personal things etc.",
        "workflowId": {
          "__rl": true,
          "value": "30cPlsVuk6svJ44E",
          "mode": "list",
          "cachedResultName": "memory agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        660,
        900
      ],
      "id": "9c43c4a1-8871-45b6-8600-e1bea9491798",
      "name": "Memory_Base"
    },
    {
      "parameters": {
        "name": "project_management",
        "description": "Call this agent whenever you need to access the project details or the current progress of company or tasks that are related to company or to followup to the team based on the tasks.",
        "workflowId": {
          "__rl": true,
          "value": "Svj3kblkh6RnbWDn",
          "mode": "list",
          "cachedResultName": "project agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        1280,
        920
      ],
      "id": "3d2cf294-ed8b-47ff-864e-ce799d110ca1",
      "name": "project_management"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 8 * * *"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -700,
        460
      ],
      "id": "975f00dd-5173-4749-9abc-31e03ae8a145",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26deff3f-4602-47c3-823b-8f2c45d332ad",
              "name": "text",
              "value": "=Hey Jeni, Give me the schedules that I have today which includes, my todo, my calendar, my notifications in your memory that I need to take care today. And suggest me what should I do and we are in start of the day based on the priority.\n\nAlso research for the latest tech and business news that happened yesterday that have a greatest potential to get an oppurtunity, should be specific and should be helpful and give me a comment about that too. Also with an oppurtunity that we can take use of because of this news.\n\nAlso send me with the important emails that I have. Just the important ones. ",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        0,
        0
      ],
      "id": "091b6e77-cd41-415b-80f1-5d84c5f5fdda",
      "name": "Edit Fields3"
    },
    {
      "parameters": {
        "name": "research_agent",
        "description": "Call this agent whenever you need to access the web or to research or to get the updated and relavent information from web ",
        "workflowId": {
          "__rl": true,
          "value": "jOxEfpupGrJvUyUD",
          "mode": "list",
          "cachedResultName": "research agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.toolWorkflow",
      "typeVersion": 2,
      "position": [
        980,
        920
      ],
      "id": "add8eaa8-3b1a-4cff-8a6d-b47e96bd6010",
      "name": "research_Agent"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26deff3f-4602-47c3-823b-8f2c45d332ad",
              "name": "text",
              "value": "=Send a followup to the team individually with the tasks that are incomplete, the task they need to do or completed with a notes and a summary about this week. Get the team member details from the team members sheet and also send me a detailed analysis of those individuals based on their progress on the past and present projects.",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -240,
        1000
      ],
      "id": "f0a02ab1-76d0-42cd-b6fa-b2bd091327a9",
      "name": "Edit Fields4"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 08 * * MON"
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        -700,
        840
      ],
      "id": "169af651-064e-4681-9a27-c204241d199d",
      "name": "Schedule Trigger1"
    },
    {
      "parameters": {
        "resource": "file",
        "fileId": "={{ $json.message.photo[0].file_id }}"
      },
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.2,
      "position": [
        -240,
        300
      ],
      "id": "fed2914e-1d56-4647-b947-96e9bf0140f5",
      "name": "Telegram2",
      "webhookId": "8b826288-7a45-4a12-bbf7-e07462532efb",
      "credentials": {
        "telegramApi": {
          "id": "iuPuVBe76cSpR7T4",
          "name": "Telegram account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "for (const item of $input.all()) {\n    // Manually set the correct MIME type\n    item.binary.data.mimeType = \"image/jpeg\";\n    \n    // Convert binary to Base64\n    item.json.base64Image = `data:image/jpeg;base64,${item.binary.data.data.toString('base64')}`;\n}\n\nreturn $input.all();\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -60,
        300
      ],
      "id": "37dc7eea-7d07-41e6-a910-bf7932ed16fe",
      "name": "Code"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "26deff3f-4602-47c3-823b-8f2c45d332ad",
              "name": "text",
              "value": "={{ $json.content }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        260,
        300
      ],
      "id": "a475a99e-ea6f-4a06-9c3f-aff5787f2f12",
      "name": "Edit Fields5"
    },
    {
      "parameters": {
        "modelName": "models/gemini-1.5-flash",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        380,
        960
      ],
      "id": "d5fa91bd-9268-4b62-a375-3a8bfc53d52d",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "sTGDq3dX0rIi2P3B",
          "name": "Google Gemini(PaLM) Api account 2"
        }
      }
    },
    {
      "parameters": {
        "resource": "image",
        "operation": "analyze",
        "modelId": {
          "__rl": true,
          "value": "gpt-4o",
          "mode": "list",
          "cachedResultName": "GPT-4O"
        },
        "text": "=Analyse and Explain this image.",
        "inputType": "base64",
        "binaryPropertyName": "=data",
        "options": {
          "detail": "auto"
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        100,
        300
      ],
      "id": "bc1e528f-1730-4b7d-ba31-73341be88133",
      "name": "OpenAI1",
      "credentials": {
        "openAiApi": {
          "id": "zPUOhki7TQwRytv1",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "resource": "audio",
        "operation": "translate",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        -60,
        640
      ],
      "id": "6853ceb1-a6f1-43a8-90db-1abc76ca3f34",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "wSuOk1lKjel3CNSv",
          "name": "OpenAi account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Window Buffer Memory": {
      "ai_memory": [
        [
          {
            "node": "Manager Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Telegram Trigger": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram1": {
      "main": [
        [
          {
            "node": "OpenAI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "Manager Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Edit Fields1": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 4
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Edit Fields",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Edit Fields1",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Telegram2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Manager Agent": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "calendar_agent": {
      "ai_tool": [
        [
          {
            "node": "Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "email_agent": {
      "ai_tool": [
        [
          {
            "node": "Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "todo_and_task_manager": {
      "ai_tool": [
        [
          {
            "node": "Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Memory_Base": {
      "ai_tool": [
        [
          {
            "node": "Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "project_management": {
      "ai_tool": [
        [
          {
            "node": "Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Edit Fields3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields3": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "research_Agent": {
      "ai_tool": [
        [
          {
            "node": "Manager Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields4": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 5
          }
        ]
      ]
    },
    "Schedule Trigger1": {
      "main": [
        [
          {
            "node": "Edit Fields4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Telegram2": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "OpenAI1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Edit Fields5": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Manager Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI1": {
      "main": [
        [
          {
            "node": "Edit Fields5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 3
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "dee783b9-760c-48bc-b2dd-9fc0c2b9e1d4",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "d312cd703698d191965d9e2552875f5fd81c90bf8b069d7a52a16da6df757132"
  },
  "id": "XCf3cJNCuw9lgyVR",
  "tags": []
}